<!DOCTYPE html>
				<! Extendemos la plantilla base.html >
				{% extends 'blog/base.html' %}
				<!Delimita el contenido que se extiende de base.html>
				{% block content %}
				<!mostramos los posts, el bucle muestra cada post de la lista, linebreaksbr convierte los saltos de linea en párrafos >
				{%for post in posts %}  
				<div class = "post">
					<div class = "date">
						<p>publicado: {{post.published_date}} </p>
					</div>
					<! Creamos un enlace a la página de detalle de una publicación, pk es una clave numérica q se generá en cada POST >
					<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
					<p> {{post.text|linebreaksbr}} </p>
					{%endfor%}
					{% endblock %}
				</div>
			</div>
		</div>
	</body

</html>