<!DOCTYPE html>
				<! Extendemos la plantilla base.html >
				{% extends 'blog/base_blog.html' %}
				<!Delimita el contenido que se extiende de base.html>
				{% block content %}
				<!mostramos los posts, el bucle muestra cada post de la lista, linebreaksbr convierte los saltos de linea en párrafos >
				{%for post in posts %}  
				
				
					  <!-- Blog entry -->
					  <div class="w3-card-4 w3-margin w3-white">
						<img src="{{post.image.url}}" alt="{{post.image.url}}" style="max-width:100%;width:auto;height:auto">
						<div class="w3-container">
						 <!--- <h3><b>TITLE HEADING</b></h3>-->
						  <h1><a href="{% url 'post_detail_blog' pk=post.pk %}">{{ post.title }}</a></h1>
						   <!-- <h5>Title description, <span class="w3-opacity">April 7, 2014</span></h5>-->
						   <h3>publicado: {{post.published_date}}</h3>
						</div>

						<div class="w3-container">

							<p>{{post.text|linebreaksbr}}</p>
						  <div class="w3-row">
							<div class="w3-col m8 s12">
							<!--<a href = "{% url 'post_detail_blog' pk=post.pk %}" class = "w3-button w3-padding-large w3-white w3-border" >READ MORE </a>-->
							<!--<p><button class="w3-button w3-padding-large w3-white w3-border"role = "link" onclick = "{% url 'post_detail_blog' pk=post.pk %}"> <b>READ MORE »</b></a></button></p>-->
						</div>
							<div class="w3-col m4 w3-hide-small">
							<p><a href="{% url 'post_detail_blog' pk=post.pk %}"<b>Comments: </b>{{ post.comments.count }}</a></p>
							</div>
						  </div>
						</div>
					  </div>
					  
					   {% endfor%}
					   </div>
		<!-- END BLOG ENTRIES -->
		<!-- Introduction menu -->
		<div class="w3-col l4">
		  <!-- Autor Space -->
		  {% for autor in autors %}
		  <div class="w3-card w3-margin w3-margin-top">
		 <a href = "{% url 'autor_detail' pk=autor.pk %}"> <h4>Autor</h4></a>
		  <img src="{{autor.image.url}}" style="max-width:100%;width:auto;height:auto">
		 
			<div class="w3-container w3-white">
			  <h4><b>{{autor.name}}</b></h4>
			  <p>{{autor.description}}</p>
			</div>
		  </div><hr>
		  {% endfor %}
		  <!-- Posts -->
		  <div class="w3-card w3-margin">
			<div class="w3-container w3-padding">
			  <h4>Popular Posts</h4>
			</div>
			<ul class="w3-ul w3-hoverable w3-white">
			{%for post in visitados %}
			
			  <li class="w3-padding-16">
				<img src="{{post.image.url}}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
				<span class="w3-large"><h4><a href = "{% url 'post_detail_blog' pk=post.pk %}">{{post.title}}</a></h4></span><br>
				
			  </li>
			  {% endfor %}
			</ul>
		  </div>
		  <hr> 
		 
		  <!-- Labels / tags -->
		  <div class="w3-card w3-margin">
			<div class="w3-container w3-padding">
			  <h4>Categorías</h4>
			</div>
			<div class="w3-container w3-white">
			<p>{% for categoria in categorias %}<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">{{categoria.name}}</span>{% endfor %}</p>
			</div>
		  </div>
		  
		<!-- END Introduction Menu -->
		</div>
					   {% endblock %}