{% extends 'blog/base_blog.html' %}

{% block content %}
{% load staticfiles %}
 <div class="w3-card-4 w3-margin w3-white">
	<div class="w3-container">
		<img src = "{{post.image.url}}" alt = "{{post.image.url}}"  style="max-width:100%;width:auto;height:auto">
			{% if post.published_date %}
				<div class="date">
					{{ post.published_date }}
				</div>
			{% else %}
			<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
		
			{% endif %}
		  </div>
		  <!--para editar el formulario--->
		  <!-- hacmeos que se a visible solo para el administrador-->
		  {%if user.is_authenticated %}
		 <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		 <a class = "btn btn-default" href = "{% url 'post_remove' pk=post.pk %}" ><span class="glyphicon glyphicon-remove"></span></a> 		
		 {%endif%}
		  <h1>{{ post.title }}</h1>
		<div class="w3-container">
		<p>{{ post.text|linebreaksbr }}</p>
		</div>
		</div>
		 <!--- COMENTARIOS-->
		<div class="w3-card w3-margin">
			<div class="w3-container w3-padding">
		<p><h4>Visitas: </h4>{{post.visitas}}</p>
		 <h4>Comentarios</h4>
		 {{post.comments.approved_comments}}
		 <hr>
		 <a href = "{% url 'add_comment_to_post' pk=post.pk %}"> Add comment </a>
		</div>
		<hr>
		<ul class="w3-ul w3-hoverable w3-white">
		{% for comment in post.comments.all %}
		 <li class="w3-padding-16">
		{%if user.is_authenticated or comment.approved_comment  %}
		<div class = "comment" >
		<a href = "{% url 'edit_comment_to_post' pk=comment.pk %}">Edit comment </a>
		 {% if not comment.approved_comment %}
		<a class = "btn btn-default" href = "{% url 'aprove_comment' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
		<a class = "btn btn-default" href = "{% url 'remove_comment' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
		{%endif%}
		<div class = "date"> <strong>{{comment.author}} </strong> {{comment.created_date}} </div>
		<p>{{comment.text|linebreaks}} </p>	
		{%endif%}		
		{%empty%}
		<p> There aren't comments yet</p>
		</div>	
			</li>
	
		{%endfor%}
		</ul>
	</div>
	</div>
	</div>
	
		{% endblock %}
   